[user]
	email = {{ .git.email }}
	name = {{ .git.name }}
[pager]
	branch = false
[pull]
	rebase = true
[init]
	defaultBranch = main
[core]
	pager = delta
[interactive]
	diffFilter = delta --color-only
[merge]
	conflictstyle = diff3
[diff]
	colorMoved = true

[delta]
	navigate = true
	syntax-theme = gruvbox-dark
	hyperlinks = true
